.App {

  background-color: #1b263d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.n_brand a {
  font-size: 32px;
}

.App h1,
h2,
button {
  color: #72a24d;
  /* font-size: 26px; */
}

.App button {
  background-color: transparent;
  border: 1px solid #72a24d;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  max-width: max-content;
}

a {

  padding: 12px;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.App button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #72a24d;

}

input[type="submit"] {
  background-color: transparent;
  border: 1px solid #72a24d;
  padding: 12px;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

input[type="text"] {
  max-width:max-content;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #72a24d;
  color: #fff;
  margin: 10px 0;
}

input[type="text"]:focus {
  background-color: transparent;
  box-shadow: 0 0 0.1px 0.1rem #72a24d;
  color: #fff;
  

}

input[type="submit"]:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #72a24d;
}

.link {
  color: #fff;
  text-decoration: none;
}

.navbar-brand {
  font-size: 22px;
}

button {
  padding: 12px;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: #72a24d;
  max-width: max-content;
}

.navbar {
  background-color: #253454;
}

.list {
  margin-left: 50px;
  border-bottom: 2px solid #72a24d;
  max-width: 400px;

}

li {
  list-style: none;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
  
}